<!-- //Interpolation -->
<h1>Welcome to {{hotelName}}</h1>

<!-- // Property Binding -->
<div [hidden]="isVisible">
    <h2>Details about Rooms</h2>
</div>

<!-- //ng Style Example -->
 <div [ngStyle]="NoOfRooms <= 100 ? {'color': 'green', 'font-size': '20px'} : {'color': 'red', 'font-size': '16px'}">
        <P>Hello , World</P>
    </div>
<!-- // Event Binding    -->
<button (click)="toggle()">Toggle</button>

<!-- Null Value Handling -->
<!-- {{rooms.AvailableRooms ?? 'No Rooms Available'}} -->
<!-- // *ngIf Directive Example of *ngIf directive -->

 <!-- {{roomList | json}} -->
<app-rooms-list [rooms]="roomList"></app-rooms-list>
<div *ngIf = "rooms?.AvailableRooms">
    {{rooms.AvailableRooms}} Rooms Available
</div>

